In [1]:
import pandas as pd
dict={'name':['Hari','Narayana','Vasudeva','Madhava'],'yuga':['Sarva','Sarva','Dwapara','Dwapara']}
df=pd.DataFrame(dict)
df.index=['i','ii','iii','iiii']
df.index.name='deva'
df

          name     yuga
deva
i         Hari    Sarva
ii    Narayana    Sarva
iii   Vasudeva  Dwapara
iiii   Madhava  Dwapara

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')

sorting

In [8]:
df.sort_values('Units Sold',ascending=False)

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35

In [14]:
df.sort_values(['Units Sold','Day'],ascending=[1,0]) 
 
# first priority for Units if same check for day and 0 = descending ,1 =ascending

          Day Coffee Type  Units Sold
1      Monday       Latte          15
3     Tuesday       Latte          20
5   Wednesday       Latte          25
0      Monday    Espresso          25
2     Tuesday    Espresso          30
7    Thursday       Latte          30
4   Wednesday    Espresso          35
13     Sunday       Latte          35
11   Saturday       Latte          35
9      Friday       Latte          35
6    Thursday    Espresso          40
12     Sunday    Espresso          45
10   Saturday    Espresso          45
8      Friday    Espresso          45

filtering

In [22]:
#df.loc[condition]
df.loc[(df['Units Sold'] >30) & (df['Coffee Type'] == 'Latte')]

         Day Coffee Type  Units Sold
9     Friday       Latte          35
11  Saturday       Latte          35
13    Sunday       Latte          35

In [11]:
df.loc[(df['Units Sold']>20) & (df['Units Sold']<40) & (df['Coffee Type']=='Latte'),['Coffee Type','Units Sold']]

   Coffee Type  Units Sold
5        Latte          25
7        Latte          30
9        Latte          35
11       Latte          35
13       Latte          35

In [16]:
df[(df['Units Sold']>20) & (df['Units Sold']<40) & (df['Coffee Type']=='Latte')]['Day']

5     Wednesday
7      Thursday
9        Friday
11     Saturday
13       Sunday
Name: Day, dtype: object